
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap



.docs-example-orbit-slide {
    padding: 2rem 4rem;
    color: $maroon;

    .orbit-slide:nth-of-type(1) & {
      background-color: $cueaYellow;
    }

    .orbit-slide:nth-of-type(2) & {
        background-color: $cueaYellow;
    }

    .orbit-slide:nth-of-type(3) & {
        background-color: $cueaYellow;
    }

    .orbit-slide:nth-of-type(4) & {
        background-color: $cueaYellow;
    }
}
